# Ignore the virtual environment folder
venv/

# Ignore environment variables
.env
.env.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

node_modules/

# Ignore Next.js build files
.next/

# Ignore cache files
cache/

# Ignore static build outputs
static/

# Ignore temporary build artifacts (if applicable)
dist/

#ignore uploads
.pdf

# Logs directory
logs/
*.txt